@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --primary-color: #fe2c55;
    --heading-color: #333;
    --text-color: rgba(22, 24, 35, 0.5);
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    color: var(--heading-color);
}

a[href] {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
