.menu-list {
    min-width: 230px;

    .menu-item {
        font-family: var(--font-family);
        margin-left: 0;
        padding: 11px 16px;
        line-height: 1.8rem;
        font-weight: 600;
        width: 100%;
        border-radius: 0;
        justify-content: flex-start;
        align-items: center;

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

.header {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    position: absolute;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: transparent;
    font-size: 18px;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.header-title {
    font-size: 17px;
}
