.menu-list {
    min-width: 230px;

    .menu-item {
        font-family: 'IBM Plex Sans', sans-serif;
        margin-left: 0;
        padding: 10px 16px;
        width: 100%;
        border-radius: 0;
        justify-content: flex-start;
    }
}

.menu-popper {
    padding-bottom: 8px;
}
