.search {
    position: relative;
    background: rgba(22, 24, 35, 0.06);
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    border-radius: 92px;
    overflow: hidden;
    border: 1.5px solid transparent;

    input {
        font-family: var(--font-family);
        caret-color: var(--primary-color);
        background-color: transparent;
        height: 100%;
        flex: 1;
        font-size: 1.6rem;
        padding-right: 50px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear {
    position: absolute;
    top: 50%;
    right: 68px;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    position: absolute;
    right: 67px;
    top: 48%;
    animation: spinner 0.5s linear infinite;
    color: rgba(22, 24, 35, 0.34);
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 52px;
    height: 100%;
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.9rem;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 9px;
        height: 28px;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.search-result,
.search {
    width: 361px;
}

.search-title {
    font-size: 1.4rem;
    padding: 5px 12px;
    color: var(--text-color);
}
